<ion-header>
  <ion-toolbar>
    <ion-title>
      
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Ok</span>
        <span ion-text color="primary" showWhen="android, windows">Ok</span>
        
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div padding  id="cloud-layer">
      <form [formGroup]="intraOpForm" >
  
     <ion-row>
       <ion-col>
         <!-- <img  src="assets/images/joshuamorony.png" /> -->
       </ion-col>
     </ion-row>
  
     <ion-row>
       <ion-col>
         <ion-list >

           <ion-label stacked>Date of Surgery</ion-label>
           <ion-item>
           <ion-input type="date" formControlName="date_of_surgery"></ion-input>
           </ion-item>

           <ion-label stacked>Time</ion-label>
           <ion-item>
           <ion-input type="time" formControlName="intraOpTime"></ion-input>
           </ion-item> 
          <div radio-group formControlName="location_of_surgery">
              <ion-label stacked>Location of the surgery</ion-label>
    
          <ion-item >
                 
                     <ion-label>Theater</ion-label>
                     <ion-radio value="theater" ></ion-radio>
    
          </ion-item>
    
          <ion-item >
    
                         <ion-label>Ward</ion-label>
                         <ion-radio value="ward"></ion-radio>          
                   
          </ion-item>
    
      </div>


           <ion-label stacked>Surgical Procedure</ion-label>
           <ion-item>
             
             <ion-input type="text" formControlName="surgical_details"></ion-input>
           </ion-item>


          <div>
                  <ion-label stacked>Operative Approach</ion-label>
                  <ion-item>
                  
                      <ion-select class="width100" formControlName="operative_approach" interface="action-sheet">
        
                              <ion-option>Open</ion-option>
                              <ion-option>Laparoscopic</ion-option>
                              <ion-option>Laparoscopic assisted</ion-option>
                              <ion-option>Laparoscopic converted to open</ion-option>
                              </ion-select>
                `
                            </ion-item>
          </div>

          <ion-label stacked>Operative Duration (Hours)</ion-label>
          <ion-item> 
            <ion-input type="text" formControlName="operative_duration">Hours</ion-input>
          </ion-item>

          <ion-label stacked>Name of the consultant</ion-label>
          <ion-item> 
            <ion-input type="text" formControlName="name_of_consultant"></ion-input>
          </ion-item>

          <ion-label stacked>Name of the registrar</ion-label>
          <ion-item> 
            <ion-input type="text" formControlName="name_of_registrar"></ion-input>
          </ion-item>

          <ion-label stacked>Name of the junior doctor</ion-label>
          <ion-item> 
            <ion-input type="text" formControlName="name_of_junior_doctor"></ion-input>
          </ion-item>


      <div radio-group formControlName="gen_ana">
          <ion-label stacked>General anaesthesia</ion-label>

      <ion-item >
             
                 <ion-label>Yes</ion-label>
                 <ion-radio value="yes" ></ion-radio>

      </ion-item>

      <ion-item >

                     <ion-label>No</ion-label>
                     <ion-radio value="no"></ion-radio>          
               
      </ion-item>

  </div>
  

<div radio-group formControlName="blood_prod_transf">
    <ion-label stacked>Blood products were transfused</ion-label>

<ion-item >
       
           <ion-label>Yes</ion-label>
           <ion-radio value="yes" ></ion-radio>

</ion-item>

<ion-item >

               <ion-label>No</ion-label>
               <ion-radio value="no"></ion-radio>          
         
</ion-item>

</div>

<div *ngIf='intraOpForm.value.blood_prod_transf=="yes"'>
    <div>
        <ion-label stacked>Type of Blood Product</ion-label>
        <ion-item>
        
            <ion-select class="width100" formControlName="type_blood_product" interface="action-sheet">
  
                    <ion-option>Packed red cells</ion-option>
                    <ion-option>Platelets</ion-option>
                    <ion-option>Fresh frozen plasma</ion-option>
                    <ion-option>Cryoprecipiitate</ion-option>
                    <ion-option>White blood cells</ion-option>
                    <ion-option>Whole blood</ion-option>
                    </ion-select>
      
                  </ion-item>
  </div>
        <ion-label stacked>Units transfused</ion-label>
        <ion-item>
          <ion-input input-type='text' formControlName='units_transfused'></ion-input>
        </ion-item>        
</div>

<ion-label stacked>Lowest perioperative HB</ion-label>
<ion-item>
  <ion-input input-type='text' formControlName='lowest_perioperative_hb' placeholder='g/dL'></ion-input>
</ion-item>     


<div formGroupName="complications_intraOp">
  <ion-label stacked>Complications</ion-label>


<ion-item>
    <ion-label style="white-space:pre-wrap;">Conversion laparotomy from laparoscopy</ion-label>
    <ion-checkbox 
       color="secondary" 
       formControlName="conversion_laparotomy_from_laparoscopy"></ion-checkbox>
</ion-item>

  <ion-item>
          <ion-label style="white-space:pre-wrap;">ICU Admission</ion-label>
          <ion-checkbox 
             color="secondary" 
             formControlName="icu_admission"></ion-checkbox>
  </ion-item>

  <ion-item>
          <ion-label style="white-space:pre-wrap;">Abdominal drain insertion</ion-label>
          <ion-checkbox 
                  color="secondary" 
                  formControlName="abdominal_drain_insertion"></ion-checkbox>
  </ion-item>

  <ion-item>
          <ion-label style="white-space:pre-wrap;">Redo laparoscopy/laparotomy</ion-label>
          <ion-checkbox 
                  color="secondary" 
                  formControlName="redo_laparoscopy_laparotomy"></ion-checkbox>
  </ion-item>

  <ion-item>
          <ion-label style="white-space:pre-wrap;">CT scan Abdomen</ion-label>
          <ion-checkbox 
                  color="secondary" 
                  formControlName="ct_scan_abdomen"></ion-checkbox>
  </ion-item>

  <ion-item>
          <ion-label style="white-space:pre-wrap;">No Complications</ion-label>
          <ion-checkbox 
                  color="secondary" 
                  formControlName="no_complications"></ion-checkbox>
  </ion-item>


</div>


          <div radio-group formControlName="intraOp_antibiotic_use">
                  <ion-label stacked>Antibiotic Use</ion-label>

              <ion-item >
                     
                         <ion-label>Yes</ion-label>
                         <ion-radio value="yes" ></ion-radio>
 
              </ion-item>

              <ion-item >

                             <ion-label>No</ion-label>
                             <ion-radio value="no"></ion-radio>          
                       
              </ion-item>

          </div>
          
           <div *ngIf='intraOpForm.value.intraOp_antibiotic_use=="yes"'>
            <ion-label stacked>Antibiotic 1</ion-label>
          <ion-item>
          
              <ion-select class="width100" formControlName="name_intraOp_antibiotic" interface="popover">

                      <ion-option>Augmentin</ion-option>
                      <ion-option>Ceftriaxone</ion-option>
                      <ion-option>Cefuroxime</ion-option>
                      <ion-option>Ciprofloxasim</ion-option>
                      <ion-option>Cloxacillin</ion-option>
                      <ion-option>Co-amoxiclav</ion-option>
                      <ion-option>Doxycycline</ion-option>
                      <ion-option>Erithromicine</ion-option>
                      <ion-option>Flagyl</ion-option>
                      <ion-option>Levofloxacin</ion-option>
                      <ion-option>Meropenem</ion-option>
                      <ion-option>Metronidazole</ion-option>
                      <ion-option>Penicilline</ion-option>
                      <ion-option>Piperacillin</ion-option>
                      <ion-option>Trazabactum</ion-option>
                      <ion-option>Teicoplanin</ion-option>
                      <ion-option>Ticarcillin</ion-option>
                      <ion-option>Ticarcillin clavulanic acid</ion-option>
                      <ion-option>Timentin</ion-option>
                      <ion-option>Vencomycin</ion-option>
                      <ion-option>Imipenem</ion-option>
                      <ion-option>Cefotaxime</ion-option>
                      <ion-option>Gentamicin</ion-option>
                      <ion-option>Other</ion-option>
                      </ion-select>
          </ion-item>
          </div>
         <div *ngIf='intraOpForm.value.name_intraOp_antibiotic=="Other"'>
          <ion-label stacked>If other, Please specify</ion-label>
          <ion-item>
            
            <ion-input type="text" formControlName="if_other_please_specify"></ion-input>
          </ion-item>

         </div>

         <div *ngIf='intraOpForm.value.intraOp_antibiotic_use=="yes"'>
          <ion-label stacked>Antibiotic 2</ion-label>
        <ion-item>
        
            <ion-select class="width100"formControlName="name2_intraOp_antibiotic" interface="popover">

                    <ion-option>Augmentin</ion-option>
                    <ion-option>Ceftriaxone</ion-option>
                    <ion-option>Cefuroxime</ion-option>
                    <ion-option>Ciprofloxasim</ion-option>
                    <ion-option>Cloxacillin</ion-option>
                    <ion-option>Co-amoxiclav</ion-option>
                    <ion-option>Doxycycline</ion-option>
                    <ion-option>Erithromicine</ion-option>
                    <ion-option>Flagyl</ion-option>
                    <ion-option>Levofloxacin</ion-option>
                    <ion-option>Meropenem</ion-option>
                    <ion-option>Metronidazole</ion-option>
                    <ion-option>Penicilline</ion-option>
                    <ion-option>Piperacillin</ion-option>
                    <ion-option>Trazabactum</ion-option>
                    <ion-option>Teicoplanin</ion-option>
                    <ion-option>Ticarcillin</ion-option>
                    <ion-option>Ticarcillin clavulanic acid</ion-option>
                    <ion-option>Timentin</ion-option>
                    <ion-option>Vencomycin</ion-option>
                    <ion-option>Imipenem</ion-option>
                    <ion-option>Cefotaxime</ion-option>
                    <ion-option>Gentamicin</ion-option>
                    <ion-option>Other</ion-option>
                    </ion-select>
        </ion-item>
        </div>
       <div *ngIf='intraOpForm.value.name2_intraOp_antibiotic=="Other"'>
        <ion-label stacked>If other, Please specify</ion-label>
        <ion-item>
          
          <ion-input type="text" formControlName="if_other_please_specify2"></ion-input>
        </ion-item>

       </div>

       <div *ngIf='intraOpForm.value.intraOp_antibiotic_use=="yes"'>
        <ion-label stacked>Antibiotic 3</ion-label>
      <ion-item>
      
          <ion-select class="width100" formControlName="name3_intraOp_antibiotic" interface="popover">

                  <ion-option>Augmentin</ion-option>
                  <ion-option>Ceftriaxone</ion-option>
                  <ion-option>Cefuroxime</ion-option>
                  <ion-option>Ciprofloxasim</ion-option>
                  <ion-option>Cloxacillin</ion-option>
                  <ion-option>Co-amoxiclav</ion-option>
                  <ion-option>Doxycycline</ion-option>
                  <ion-option>Erithromicine</ion-option>
                  <ion-option>Flagyl</ion-option>
                  <ion-option>Levofloxacin</ion-option>
                  <ion-option>Meropenem</ion-option>
                  <ion-option>Metronidazole</ion-option>
                  <ion-option>Penicilline</ion-option>
                  <ion-option>Piperacillin</ion-option>
                  <ion-option>Trazabactum</ion-option>
                  <ion-option>Teicoplanin</ion-option>
                  <ion-option>Ticarcillin</ion-option>
                  <ion-option>Ticarcillin clavulanic acid</ion-option>
                  <ion-option>Timentin</ion-option>
                  <ion-option>Vencomycin</ion-option>
                  <ion-option>Imipenem</ion-option>
                  <ion-option>Cefotaxime</ion-option>
                  <ion-option>Gentamicin</ion-option>
                  <ion-option>Other</ion-option>
                  </ion-select>
      </ion-item>
      </div>
     <div *ngIf='intraOpForm.value.name3_intraOp_antibiotic=="Other"'>
      <ion-label stacked>If other, Please specify</ion-label>
      <ion-item>
        
        <ion-input type="text" formControlName="if_other_please_specify3"></ion-input>
      </ion-item>

     </div>
           
     <ion-label stacked>Additional notes</ion-label>
     <ion-item>
       
       <ion-input type="text" formControlName="notes_intop"></ion-input>
     </ion-item>








  
         </ion-list>
       </ion-col>
     </ion-row>
  
     <!-- <ion-row>
       <ion-col>
         <button ion-button class="login-button" (click)="submit()" >Login</button>
       </ion-col>
     </ion-row> -->
    </form>
   </div>
</ion-content>
