page-list {
    overflow: hidden;
}

.tooLong {
    font-size:1.25rem; 
    margin-right:0px;
    white-space: pre-wrap;

}
ion-select {
    min-width: 100% !important;
    font-size: 15px;
    margin-right: 0px;


}
#tiles{
    overflow: initial;
}
ion-scroll {
    width: 110%;
    height: 100%;
}
ion-slide.swiper-slide {
    padding: 0px;
    align-items: flex-start;
}

#notesDate {
    font-weight: bold;
    color: black;
    font-size: 18px;
}

#data {
    color: rgb(55, 48, 156); 
    font-size: 15px;
       
}

page-list div {
    text-align: left;
}


$popover-ios-width: 400px;

//for table

th, td {
    padding: 15px;
    text-align: left;
}

.obs-text{
    font-size: 15px;
    color: black;
}

.obs-green{
    font-size: 25px;
    color: green;
}

.obs-red{
    font-size: 25px;
    color: red;
}

.obs-black{
    font-size: 25px;
    color: black;
}

.dashforbp{
    font-size: 30px;
}

//form validation

.invalid {
    border: 1px solid #ea6153;
}

.error {
    color: #ea6153;
}