.tooLong {
    font-size:1.25rem; 
    margin-right:0px;
    white-space: pre-wrap;

}
ion-select {
    min-width: 100% !important;
    font-size: 15px;
    margin-right: 0px;


}
ion-slide.swiper-slide {
    padding: 20px;
    align-items: flex-start;
}

#data {
    color: rgb(55, 48, 156); 
    font-size: 15px;
       
}

page-list div {
    text-align: left;
}


$popover-ios-width: 400px;