<!--
  Generated template for the ListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{passedPatient.admission.patientName}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content scroll='false' padding>
<ion-scroll scrollY='true'> 
  <ion-slides>
      <ion-slide id="data">
          <div id="Admission">
          <div>   
            <h5>Admission &nbsp; &nbsp; {{passedPatient.admission.admission_date | date:'dd MMM yyyy'}}</h5>
            <p>Age: {{passedPatient.admission.age}} {{passedPatient.admission.age_unit}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Gender: {{passedPatient.admission.gender}} <br></p>
            <p>Contact Number: {{passedPatient.admission.contactNumber}}<br></p>
            <p>Ward Number: {{passedPatient.admission.ward_number.name}}<br></p>
            <span *ngIf="passedPatient.admission.opOrnonOp=='op'">Type: Operative</span>
            <span *ngIf="passedPatient.admission.opOrnonOp=='non-op'">Type: Non-Operative</span>
            <p>System: {{passedPatient.admission.system.value}}<br></p>
            <p>Diagnosis: {{passedPatient.admission.code.apacheDiag}}<br></p>
            <p>Pre-operative HB: {{passedPatient.admission.pre_operative_hb}}<br></p>
            <p>Weight: {{passedPatient.admission.weight}} kg&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Height: {{passedPatient.admission.height}} cm<br></p>
          </div>
          <div *ngIf="passedPatient.intraOps">
            <div *ngFor="let intraOp of passedPatient.intraOps">
            <h5>Intra-Operative &nbsp; {{intraOp.intraOpTimeStamp | date:' dd MMM yyyy'}}</h5>
            <p>Surgical Procedure: {{intraOp.surgical_details}}<br></p>
            <p>General Anasthaesia: {{intraOp.gen_ana}}<br></p>
            <div *ngIf="intraOp.blood_prod_transf=='yes'">
            <p>Type of blood products: {{intraOp.type_blood_product}} &nbsp; &nbsp; &nbsp; <br>Units transfused: {{intraOp.units_transfused}}</p>
            </div>
            <p>Complications: </p>
            <span *ngIf="intraOp?.conversion_laparotomy_from_laparoscopy" >Conversion laparotomy from laparoscopy,</span>
            <span *ngIf="intraOp?.icu_admission">ICU Admission,</span>
            <span *ngIf="intraOp?.abdominal_drain_insertion">Abdominal drain insertion,</span>
            <span *ngIf="intraOp?.redo_laparoscopy_laparotomy">Redo laparoscopy/laparotomy,</span>
            <span *ngIf="intraOp?.ct_scan_abdomen">CT scan Abdomen</span>
            <p *ngIf="intraOp?.lowest_perioperative_hb">Lowest perioperative HB {{intraOp.lowest_perioperative_hb}} g/dL</p>
            <p *ngIf="intraOp?.notes_intop">Additional Notes: {{intraOp.notes_intop}}</p>
            </div>
          </div>
          <div *ngIf="passedPatient.postOp">
            <div *ngFor="let postOp of passedPatient.postOp">
            <h5>Post-Operative &nbsp; &nbsp; {{postOp.postOpTimeStamp | date:' dd MMM yyyy'}}</h5> 
            <p>Post Operative Complications:</p>
            <span *ngIf="postOp?.pulmonary" >Pulmonary,</span>
            <span *ngIf="postOp?.infections" >Infections,</span>
            <span *ngIf="postOp?.renal" >Renal,</span>
            <span *ngIf="postOp?.gastrointestinal" >Gastrointestinal,</span>
            <span *ngIf="postOp?.gastrointestinalBowels" >Gastrointestinal-bowels not opened,</span>
            <span *ngIf="postOp?.cardiovascular" >Cardiovascular,</span>
            <span *ngIf="postOp?.cardiovascular" >Cardiovascular-vasopressors required,</span>
            <span *ngIf="postOp?.neurological" >Neurological,</span>
            <span *ngIf="postOp?.haematological" >Haematological,</span>
            <span *ngIf="postOp?.redo_laparoscopy_laparotomy" >Redo Laparoscopy/Laparatomy,</span>
            <span *ngIf="postOp?.pain" >Pain,</span>
            <p>ICU Admission: {{postOp.icu_admission}}</p>
            <p *ngIf="postOp?.notes_pod1">Additional Notes: {{postOp.notes_pod1}}</p>
            </div> 
          </div> 
          <h5></h5>
          </div>
    </ion-slide>

  <ion-slide>
  <ion-card (click)="openModal1()">
    <ion-card-header>
      Admission Details
    </ion-card-header>
  </ion-card>

  <ion-card (click)="openModal8()">
    <ion-card-header>
      Observations
    </ion-card-header>
  </ion-card>



  <ion-card (click)="openModal2()">
    <ion-card-header>
      Intra-Operative
    </ion-card-header>
  </ion-card>
  
  <ion-card (click)="openModal4()">
    <ion-card-header>
      Post-Operative
    </ion-card-header>
  </ion-card>  
  <ion-card (click)="openModal9()">
    <ion-card-header>
      Notes
    </ion-card-header>
  </ion-card>
  <!-- <ion-card (click)="openModal10()">
    <ion-card-header>
      Post-Op Day 7
    </ion-card-header>
  </ion-card> -->
  <!-- <ion-card (click)="openModal5()">
    <ion-card-header>
      Intervention PCI
    </ion-card-header>
    
  </ion-card>
  <ion-card (click)="openModal6()">
    <ion-card-header>
      Intervention Thrombolysis
    </ion-card-header>
    
  </ion-card> -->
  <ion-card (click)="openModal7()">
    <ion-card-header>
      Discharge
    </ion-card-header>
  </ion-card>

  <ion-card (click)="openModal3()">
    <ion-card-header >
      Quality of Life
    </ion-card-header>
  </ion-card>
  </ion-slide>
  </ion-slides>
</ion-scroll>
</ion-content>
