<ion-header>
    <ion-toolbar>
      <ion-title>
        
      </ion-title>
      <ion-buttons start>
        <button ion-button (click)="dismiss()">
          <span ion-text color="primary" showWhen="ios">Ok</span>
          <span ion-text color="primary" showWhen="android, windows">Ok</span>
          
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <div padding  id="cloud-layer">
        <form [formGroup]="admissionForm" >
    
       <ion-row>
         <ion-col>
         </ion-col>
       </ion-row>
    
       <ion-row>
         <ion-col>
           <ion-list >
                <ion-label stacked>Name</ion-label>
             <ion-item>
               
               <ion-input type="text" formControlName="patientName"></ion-input>
             </ion-item>


            <div radio-group formControlName="gender">
                    <ion-label stacked>Gender</ion-label>



                <ion-item >
                       
                           <ion-label>Male</ion-label>
                           <ion-radio value="Male" ></ion-radio>
   
                  </ion-item>

                  <ion-item >

                               <ion-label>Female</ion-label>
                               <ion-radio value="Female"></ion-radio>          
                         
                      </ion-item>

            </div>
             
            <ion-label stacked>Age</ion-label>
            <ion-item>
            
                <ion-input type="text" formControlName="age"></ion-input>
            </ion-item>
                        
            <ion-label stacked>Contact Number</ion-label>
            <ion-item>
            
                <ion-input type="text" formControlName="contactNumber"></ion-input>
            </ion-item>
            
            <ion-label stacked>Admission Date</ion-label>
            <ion-item>
            
                <ion-input type="date" formControlName="admission_date"></ion-input>
            </ion-item>

            <ion-label stacked>Medical Record Number (BHT)</ion-label>
            <ion-item>
            
                <ion-input type="text" formControlName="bht"></ion-input>
            </ion-item>
            
            <ion-label stacked>Ward Number</ion-label>
            <ion-item>
            
                <ion-select formControlName="ward_number" interface="popover">

                        <ion-option>CWA</ion-option>
                        <ion-option>CWB</ion-option>
                        <ion-option>CWC</ion-option>
                        <ion-option>HDU</ion-option>
                        <ion-option>ITU</ion-option>
                        <ion-option>Other</ion-option>
                        </ion-select>
            </ion-item>

            <div *ngIf='admissionForm.value.ward_number=="Other"'>
              <ion-label stacked>If other, please specify</ion-label>
              <ion-input formControlName="if_other_ward" type="text"></ion-input>
              <hr>
            </div>
            
            <div radio-group formControlName="admission_type">
                <ion-label stacked>Admission Type</ion-label>



            <ion-item >
                   
                       <ion-label>Elective</ion-label>
                       <ion-radio value="elective" ></ion-radio>

              </ion-item>

              <ion-item >

                           <ion-label>Emergency</ion-label>
                           <ion-radio value="emergency"></ion-radio>          
                     
                  </ion-item>

        </div>

        <div>
                <div formGroupName="comorbidities">
                  <ion-label stacked>Comorbidities</ion-label>


                <ion-item>
                        <ion-label>HIV</ion-label>
                        <ion-checkbox 
                                color="primary" 
                                formControlName="hiv"></ion-checkbox>
                </ion-item>

                <ion-item>
                        <ion-label>None</ion-label>
                        <ion-checkbox 
                                color="primary" 
                                formControlName="none"></ion-checkbox>
                </ion-item>

                <ion-item>
                        <ion-label>Other</ion-label>
                        <ion-checkbox 
                                color="primary" 
                                formControlName="other"></ion-checkbox>
                </ion-item>
          </div>
          </div>
        
            
            <div *ngIf='admissionForm.value.comorbidities.other'>
            <ion-label stacked>If other, please specify comorbidity</ion-label>
            <ion-item>
            <ion-input type="text" formControlName="if_other_please_specify_comorbi"></ion-input>
            </ion-item>
            </div>

            <div *ngIf='admissionForm.value.comorbidities.hiv'>
            <ion-label stacked>CD4 count</ion-label>
            <ion-item>
            <ion-input type="text" formControlName="cd4"></ion-input>
            </ion-item>
            </div>

            <div radio-group formControlName="feverad">
                    <ion-label stacked>Fever in last 24 hours</ion-label>



                <ion-item >
                       
                           <ion-label>Yes</ion-label>
                           <ion-radio value="yes" ></ion-radio>
   
                  </ion-item>

                  <ion-item >

                               <ion-label>No</ion-label>
                               <ion-radio value="no"></ion-radio>          
                         
                      </ion-item>

            </div>


            <ion-label stacked>Weight (kg)</ion-label>
            <ion-item>
              
              <ion-input type="text" formControlName="weight"></ion-input>
            </ion-item>
    
            <ion-label stacked>Height (cm)</ion-label>
            <ion-item>
              
              <ion-input type="text" formControlName="height"></ion-input>
            </ion-item>
 

            <ion-label stacked>Pre Operative HB</ion-label>
            <div *ngIf='!admissionForm.value.pre_operative_hb_avl.not_available'>
            <ion-item>
            <ion-input type="text" placeholder="g/dL"formControlName="pre_operative_hb"></ion-input>
            </ion-item>
            </div>
            <div formGroupName="pre_operative_hb_avl">
              <ion-item>
                <ion-label>Not Available</ion-label>
                <ion-checkbox 
                        color="primary" 
                        formControlName="not_available"></ion-checkbox>
              </ion-item>            
            </div>

           </ion-list>
         </ion-col>
       </ion-row>
    

      </form>
     </div>
  </ion-content>