page-settings {

}

#sync-head {
    
    font-size: 15px;
    
    font-weight: bold;
    margin-bottom: 5px;
}

#sync-no {
    
    font-size: 15px;
    color: rgb(255, 196, 0);
    font-weight: bold;
}

#sync-yes {
    
    font-size: 15px;
    color: rgb(8, 177, 8);
    font-weight: bold;
}
