

#connect-head {
    
    font-size: 15px;
    
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
}


#connect-false {
    
    font-size: 15px;
    color: rgba(255, 0, 0, 0.616);
    font-weight: 600;
}

#connect-true {
    
    font-size: 15px;
    color: rgb(8, 177, 8);
    font-weight: 600;
}

#sync-head {
    
    font-size: 15px;
    
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
}

#sync-no {
    
    font-size: 15px;
    color: rgb(255, 196, 0);
    font-weight: 600;
}

#sync-yes {
    
    font-size: 15px;
    color: rgb(8, 177, 8);
    font-weight: 600;
}
